#preloader {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 88; }
  #preloader .container {
    height: 100%; }
    #preloader .container .row {
      height: 100%; }
      #preloader .container .row .col {
        text-align: center; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: black; }

::-webkit-scrollbar-thumb {
  background: red; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-LightItalic.ttf"); }

.bgck {
  margin-top: 10px;
  margin-bottom: 10px; }

.col-lg-6 .bg-dark {
  background-color: #050505 !important; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

@media (max-width: 1205px) {
  .col-lg-6 .bg-dark {
    font-size: 13px; }
  .d-none {
    font-size: 12px; } }

.hamburger {
  float: right;
  margin-top: 17px;
  border: none;
  display: none; }
  .hamburger:focus {
    outline: 0; }

@media (max-width: 768px) {
  .hamburger {
    display: block; }
  header .active:after {
    top: 35px !important; } }

@media (max-width: 360px) {
  .bgck {
    width: 70%;
    margin-top: 14px; } }

.hamburger-inner {
  background-color: #ff0000; }
  .hamburger-inner:after {
    background-color: #ff0000; }
  .hamburger-inner:before {
    background-color: #ff0000; }

header .blbgck {
  background-color: #050505; }

header .active {
  position: relative;
  color: #ff0000 !important; }
  header .active:after {
    content: '';
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    height: 10px;
    background-color: #ff0000; }

.to-top img {
  -webkit-animation-name: bounceng;
  animation-name: bounceng;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

@-webkit-keyframes bounceng {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounceng {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.col-md-2 {
  text-align: right; }
  .col-md-2 span {
    color: white; }

.fixed-top {
  z-index: 5; }

.mainImg {
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  position: relative;
  padding: 0;
  min-height: 500px;
  margin-top: 88px; }
  .mainImg .container {
    height: 100%; }
  .mainImg .col-md-4 {
    height: 100%; }
  .mainImg img {
    height: 70%;
    margin-top: 22%;
    z-index: 3;
    position: relative; }

.layer {
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  opacity: 0.2;
  position: absolute;
  z-index: 2; }

.black {
  background-color: #050505; }
  .black p {
    color: white; }
  .black h3 {
    color: #fefefe;
    font-size: 35px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
    position: relative; }
    .black h3:after {
      content: '';
      position: absolute;
      width: 40%;
      top: 150%;
      left: 0;
      background-color: #ff0000;
      height: 3px; }

.chef img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover; }

.bambuk {
  background-image: url("../img/bamboo.jpg");
  height: 100%;
  padding-top: 100px; }
  .bambuk .first {
    padding-top: 80px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 25px; }
  .bambuk h3 {
    color: #fefefe;
    font-size: 35px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    position: relative; }
    .bambuk h3:after {
      content: '';
      position: absolute;
      width: 18%;
      top: 150%;
      height: 2px;
      background-color: #ff0000;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%; }

.center {
  border: none;
  margin-top: 50px;
  display: block;
  text-align: center; }
  .center .active {
    color: #ff0000; }
  .center li {
    display: inline-block;
    text-align: center;
    margin-right: 30px; }
    .center li a {
      color: white; }
    .center li:last-child {
      margin-right: 0; }

.tab-content .col-md-6 {
  margin-bottom: 30px; }

.tab-content .col-md-6:first-child {
  margin-top: 100px; }

.tab-content .col-md-6:nth-child(2) {
  margin-top: 100px; }

.tab-content .col-3 {
  text-align: center; }

.tab-content .col-9 {
  color: white; }

@media (max-width: 586px) {
  .center li {
    margin-right: 10px;
    font-size: 13px; }
  .tab-content .row .col-md-6:first-child {
    margin-top: 50px; }
  .tab-content .row .col-md-6:nth-child(2) {
    margin-top: 0; }
  .tab-content .row .col-md-6 .col-md-3 img {
    height: 120px; }
  .col-9 h6 {
    text-align: center; }
    .col-9 h6 span:first-child {
      display: block;
      margin-top: 15px;
      margin-bottom: 10px; }
    .col-9 h6 span:nth-child(2) {
      display: none; }
  .col-9 p {
    display: none; } }

.tab-content .container .col-md-3 {
  text-align: center; }

.tab-content .container h6 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }
  .tab-content .container h6 span {
    color: white; }
  .tab-content .container h6 span:nth-child(2) {
    color: #838181; }

.tab-content .container p {
  color: #838181;
  margin-bottom: 0;
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px; }

.tab-content .container i {
  color: #838181; }

.gallery {
  background-color: black;
  padding-top: 80px; }
  .gallery p {
    text-align: center;
    margin-top: 40px;
    font-family: "Open Sans Light";
    color: white; }
  .gallery h3 {
    color: #fefefe;
    font-size: 35px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    position: relative; }
    .gallery h3:after {
      content: '';
      position: absolute;
      width: 18%;
      top: 150%;
      height: 2px;
      background-color: #ff0000;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%; }
  .gallery .col-md-3 {
    padding: 0; }
    .gallery .col-md-3 img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
    .gallery .col-md-3 a:hover .hidn {
      opacity: .65; }

.hidn {
  position: absolute;
  left: 50%;
  z-index: 5;
  width: 10% !important;
  opacity: .4;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }

.povar {
  background-color: black;
  padding-top: 80px; }
  .povar p {
    text-align: center;
    margin-top: 40px;
    font-family: "Open Sans Light";
    color: white; }
  .povar h3 {
    color: #fefefe;
    font-size: 35px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    position: relative; }
    .povar h3:after {
      content: '';
      position: absolute;
      width: 18%;
      top: 150%;
      height: 2px;
      background-color: #ff0000;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%; }

.owl-carousel h5 {
  color: #fefefe; }

.owl-carousel h6 {
  color: #fefefe;
  margin-bottom: 25px; }

.owl-carousel p {
  text-align: left;
  color: #fefefe; }

.owl-carousel .row {
  margin-top: 20px; }

.navigator {
  float: right;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

@media (max-width: 991px) {
  .navigator {
    -webkit-transform: none;
    transform: none; }
  .owl-carousel {
    margin-bottom: 15px; } }

.owl-prev {
  border: none;
  background-color: transparent; }

.owl-next {
  border: none;
  background-color: transparent; }

.map {
  min-height: 300px; }
  .map img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.formfon {
  background-image: url("../img/form.jpg");
  background-position: 50% 50%; }
  .formfon textarea {
    padding-left: 15px;
    color: white; }
  .formfon input {
    padding-left: 15px;
    color: white; }
  .formfon .col-md-8 {
    background-color: black;
    margin-top: 35px;
    margin-bottom: 35px; }
  .formfon h4 {
    margin-top: 30px;
    text-align: center;
    color: #fefefe;
    font-family: "Open Sans";
    font-weight: 600;
    position: relative;
    margin-bottom: 15px; }
    .formfon h4:before {
      content: '';
      width: 15%;
      height: 1px;
      background-color: red;
      position: absolute;
      left: 21%;
      top: 50%; }
    .formfon h4:after {
      content: '';
      width: 15%;
      height: 1px;
      background-color: red;
      position: absolute;
      right: 21%;
      top: 50%; }
  .formfon .inputleft {
    width: 95%;
    background-color: transparent;
    margin-left: 15px;
    border: 1px solid gray;
    margin-bottom: 10px;
    height: 34px; }
  .formfon .inputright {
    width: 95%;
    background-color: transparent;
    border: 1px solid gray;
    margin-bottom: 10px;
    height: 34px; }
  .formfon .col-md-12 {
    padding: 0 30px; }
    .formfon .col-md-12 textarea {
      background-color: transparent;
      width: 100%;
      border: 1px solid gray; }
  .formfon .check {
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 15px; }
    .formfon .check .custom-control-input:before {
      background-color: transparent;
      border: 1px solid gray; }
    .formfon .check .custom-control-input:after {
      background-color: black; }
  .formfon button {
    padding: 6px 10px;
    background-color: #ff0000;
    float: right;
    border: none; }

@media (max-width: 768px) {
  .inputright {
    width: 100% !important; }
  .inputleft {
    width: 100% !important;
    margin-left: 0px !important; }
  .formfon h4:after {
    content: none; }
  .formfon h4:before {
    content: none; }
  .formfon .control-checkbox {
    font-size: 12px; } }

footer {
  font-family: "Open Sans";
  font-size: 14px; }
  footer .container-fluid {
    background-color: black;
    padding: 35px; }
  footer .col-lg-3, footer .col-lg-2, footer .col-md-6 {
    text-align: left;
    color: white; }
    footer .col-lg-3 span, footer .col-lg-2 span, footer .col-md-6 span {
      font-size: 12px; }
    footer .col-lg-3 div p, footer .col-lg-2 div p, footer .col-md-6 div p {
      padding-left: 30px;
      margin-bottom: 0; }
      footer .col-lg-3 div p:nth-child(2n), footer .col-lg-2 div p:nth-child(2n), footer .col-md-6 div p:nth-child(2n) {
        margin-bottom: 10px; }
    footer .col-lg-3 .nav-tabs, footer .col-lg-2 .nav-tabs, footer .col-md-6 .nav-tabs {
      border-bottom: none; }
      footer .col-lg-3 .nav-tabs img, footer .col-lg-2 .nav-tabs img, footer .col-md-6 .nav-tabs img {
        width: 16px;
        margin-right: 15px; }
      footer .col-lg-3 .nav-tabs li, footer .col-lg-2 .nav-tabs li, footer .col-md-6 .nav-tabs li {
        width: 100%;
        margin-bottom: 8px; }
        footer .col-lg-3 .nav-tabs li a, footer .col-lg-2 .nav-tabs li a, footer .col-md-6 .nav-tabs li a {
          color: #FFFFFF; }
